<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>CVE api</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet prefetch">
    <style>
        body {
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }
        @media (prefers-color-scheme: light) {
            body {
                color: #636b6f;
                background-color: #fff;
            }
        }
        @media (prefers-color-scheme: dark) {
            body {
                color: white;
                background-color: #272822;
            }
        }
        .full-height {
            height: 100vh;
        }
        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .position-ref {
            position: relative;
        }
        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }
        .content {
            text-align: center;
        }
        .title {
            font-size: 84px;
        }
        .links>a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        .m-b-md {
            margin-bottom: 30px;
        }
    </style>
  </head>
  <body>
    <div class="flex-center position-ref full-height">
      <div class="top-right links">
      </div>
      <div class="content">
        <div class="title m-b-md">
            CVE API
        </div>
        <div class="m-b-md">
            <pre>curl http://<%= bind %>:<%= port %>/cve?target=KEYWORD</pre>
            <pre>curl http://<%= bind %>:<%= port %>/cve?target=KEYWORD&year=YEAR</pre>
        </div>
      </div>
    </div>
  </body>
</html>
