<!DOCTYPE html>
<html lang="end">
  <head>
    <title>CVE api</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap" rel="stylesheet prefetch">
    <link rel="stylesheet" type="text/css" href="/stylesheet/result.css">
  </head>
  <body>
    <% cve = JSON.pretty_generate(@names) %>
    <% cve = cve.split("\n\n") %>
    <% cve.each do |entry| %>
      <pre><%= entry %></pre>
    <% end %>
  </body>
</html>
