<!DOCTYPE html>
<html lang="end">
  <head>
    <title>CVE api</title>
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap" rel="stylesheet prefetch">
    <style>
      body {
        font-family: 'Miriam Libre', sans-serif;
        background-color: #272822;
        color: white;
      }
    </style>
  </head>
  <body>
    <% cve = JSON.pretty_generate(@names) %>
    <% cve = cve.split("\n\n") %>
    <% cve.each do |entry| %>
      <pre><%= entry %></pre>
    <% end %>
  </body>
</html>
